openai 
torch
transformers
chromadb
streamlit
pypdf2
langchain_community
faiss-cpu
unstructured[pdf]
selenium
newspaper3k
lxml-html-clean 
langchain-ollama
langchain[openai]
langchain-chroma
langchain-unstructured
yt_dlp

# for voice assistant RAG workflow
soundfile
sounddevice
elevenlabs

# cohere
cohere
sentence-transformers




# for LoRa
datasets 
peft 
evaluate

fastapi
uvicorn

prettytable
